.card {
    margin-top: 15%;
}
.card-header {
    text-align: center;
}
.judul {
    margin-left: 200px;
    margin-top: 10px;
}
.btn-group {
    margin-left: 20px;
    margin-top: 10px;
}
.form-label {
    margin-top: 10px;
    margin-top: 20px;
    margin-left: 200px;
}
.dropdown {
    margin-top: 10px;
    margin-left: 20px;
}
/* Custom CSS untuk memperbaiki tampilan card */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.card-title,
.card-text {
    display: flex;
    align-items: center;
}

.card-title i,
.card-text i {
    margin-right: 10px;
    color: #6c757d;
}
